boby{background-color:#fbbbbb;
    #back{backgraund-image:url("ジャパリパーク.png")}    
    
    #back{backgraund-color:#4FDF1F;}
    
    .bol{font-weight:bold;}
    #hed:first-letter{fontsize:5em;}
    h1{borber: solid 10px #dddddd;}
